# Ambiente Virtual do Python
.venv/
venv/

# Arquivos de segredos do Streamlit
# NUNCA envie este arquivo para o GitHub!
.streamlit/secrets.toml

# Pastas de cache e arquivos compilados do Python
__pycache__/
*.pyc

# Arquivos de credenciais JSON (se existirem)
*.json

# Checkpoints do Jupyter Notebook
.ipynb_checkpoints/

# Arquivos de configuração de IDEs (opcional, mas recomendado)
.idea/
.vscode/